.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: var(--font-bold);
    padding-block-start: 2.375rem;

    &__divider {
        width: 100%;
        margin-block: 1.5625rem 1rem;
        border-bottom: 1px solid var(--text-body);
    }

    &__title {
        color: var(--text-heading);
        font-size: var(--text-2xl);
    }

    &__description {
        margin-block-start: 0.5625rem;
    }

    @media (min-width: 58em) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__divider {
            display: none;
        }

        &__title {
            margin-block: 0.0625rem 0;
            margin-inline: 0 -0.1875rem;
            font-size: var(--text-3xl);
        }

        &__description {
            margin-block: 0.5rem 0;
            margin-inline: 0 -0.125rem;
        }
    }
}
