@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./utils/a11y.css";

@import "./components/site-theme.css";
@import "./components/switch.css";
@import "./components/intro.css";
@import "./components/socials.css";
@import "./components/overview.css";

.main {
    position: relative;

    &__container {
        position: relative;
        width: min(100vw - 3.125rem, 69.375rem);
        margin-inline: auto;
        z-index: 100;
    }

    &::before {
        position: absolute;
        content: "";
        border-bottom-left-radius: var(--rounded-xl);
        border-bottom-right-radius: var(--rounded-xl);
        background-color: var(--bg-accent);
        top: 0;
        left: 0;
        right: 0;
        height: 14.6875rem;
    }
}
