:root {
    --clr-lime-green: hsl(163, 72%, 41%);
    --clr-bright-red: hsl(356, 69%, 56%);

    --hsl-facebook: 208, 92%, 53%;
    --hsl-twitter: 203, 89%, 53%;
    --hsl-youtube: 348, 97%, 39%;
    --hsl-instagram-yellow: 37, 97%, 70%;
    --hsl-instagram-purple: 329, 70%, 58%;

    --bg-primary: hsl(230, 17%, 14%);
    --bg-accent: hsl(232, 19%, 15%);
    --bg-card: hsl(228, 28%, 20%);
    --bg-card-hover: hsl(228, 26%, 27%);
    --text-body: hsl(228, 34%, 66%);
    --text-heading: hsl(0, 0%, 100%);

    --hsl-toggle-cyan: 210, 78%, 56%;
    --hsl-toggle-lime: 146, 68%, 55%;
    --hsl-toggle-light-theme: 230, 22%, 74%;

    --fw-normal: 400;
    --fw-bold: 700;

    --rounded: 0.375rem;
    --rounded-xl: 1.5rem;
    --rounded-full: 9999px;
}

:root[data-theme="dark"] {
    --bg-primary: hsl(230, 17%, 14%);
    --bg-accent: hsl(232, 19%, 15%);
    --bg-card: hsl(228, 28%, 20%);
    --bg-card-hover: hsl(228, 26%, 27%);
    --text-body: hsl(228, 34%, 66%);
    --text-heading: hsl(0, 0%, 100%);
}

:root[data-theme="light"] {
    --bg-primary: hsl(0, 0%, 100%);
    --bg-accent: hsl(225, 100%, 98%);
    --bg-card: hsl(227, 47%, 96%);
    --bg-card-hover: hsl(232, 33%, 91%);
    --text-body: hsl(228, 12%, 44%);
    --text-heading: hsl(230, 17%, 14%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.changing-theme * {
    transition: 100ms ease !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    font-size: 0.875rem;
    line-height: 1;
    background-color: var(--bg-primary);
    color: var(--text-body);
    min-height: 100vh;
}

.main {
    position: relative;

    &__container {
        position: relative;
        width: min(100vw - 3.125rem, 69.375rem);
        margin-inline: auto;
        z-index: 100;
    }

    &::before {
        position: absolute;
        content: "";
        border-bottom-left-radius: var(--rounded-xl);
        border-bottom-right-radius: var(--rounded-xl);
        background-color: var(--bg-accent);
        top: 0;
        left: 0;
        right: 0;
        height: 14.6875rem;
    }
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-bold);
    margin-top: 2.375rem;
}

.intro__divider {
    background-color: var(--text-body);
    width: 100%;
    height: 1px;
    margin: 1.5625rem 0 1rem;
}

.intro__title {
    color: var(--text-heading);
    font-size: 1.5rem;
}

.intro__description {
    margin-top: 0.5625rem;
}

.site-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8125rem;

    &__title {
        transition: 200ms ease;
    }
}

.switch {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3rem;
    height: 1.5rem;
    border-radius: var(--rounded-full);
    background: linear-gradient(to right, hsla(var(--hsl-toggle-cyan), 100%), hsla(var(--hsl-toggle-lime), 100%));

    &__thumb {
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        margin: 0 0.1875rem;
        border-radius: var(--rounded-full);
        background-color: var(--bg-accent);
        transition: 300ms ease;
    }

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__input:checked + &__thumb {
        margin-left: 1.6875rem;
    }
}

:root[data-theme="light"] .switch {
    background: hsl(var(--hsl-toggle-light-theme));
}

.dashboard-content {
    margin: 2.25rem 0 2.875rem;
}

/* -------------------------------- HIGHLIGHT ------------------------------- */
.highlight-wrapper {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 1.875rem;
}

.highlight-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-card);
    border-radius: var(--rounded);
    font-size: 0.75rem;
    transition: 200ms ease;
}

.highlight-item .top-pattern {
    display: block;
    height: 0.25rem;
    width: 100%;
}

.highlight-item.facebook .top-pattern {
    background-color: hsl(var(--hsl-facebook));
}

.highlight-item.twitter .top-pattern {
    background-color: hsl(var(--hsl-twitter));
}

.highlight-item.instagram .top-pattern {
    background: linear-gradient(to right, hsl(var(--hsl-instagram-yellow)), hsl(var(--hsl-instagram-purple)));
}

.highlight-item.youtube .top-pattern {
    background-color: hsl(var(--hsl-youtube));
}

.highlight-item .username {
    font-weight: bold;
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
}

.highlight-item .username img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.highlight-item .stat-number {
    margin: 1.5rem 0 0.4375rem;
    font-size: 3.5rem;
    letter-spacing: -0.14rem;
    color: var(--text-heading);
    font-weight: var(--fw-bold);
}

.highlight-item .stat-text {
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
}

.highlight-item .update {
    letter-spacing: 0.0125rem;
    margin: 1.75rem 0 1.5625rem;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
}

.highlight-item .update img {
    margin-right: 0.25rem;
    font-weight: var(--fw-bold);
}

.highlight-item .update.up {
    color: var(--clr-lime-green);
}

.highlight-item .update.down {
    color: var(--clr-bright-red);
}

/* -------------------------------- OVERVIEW -------------------------------- */
.overview-container {
    margin-top: 3rem;
}

.overview-container h2 {
    font-size: 1.5rem;
    color: var(--text-heading);
}

.overview-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.875rem 0 2.8125rem;
    gap: 1rem 1.875rem;
}

.overview-item {
    cursor: pointer;
    padding: 1.625rem 1.875rem 1.4375rem 1.5rem;
    background-color: var(--bg-card);
    border-radius: var(--rounded);
    font-weight: var(--fw-bold);
    transition: 200ms ease;
}

.overview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-title .logo {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-stat {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.overview-stat .number {
    font-size: 2rem;
    color: var(--text-heading);
}

.overview-stat .rate {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.overview-stat .rate img {
    margin-right: 0.25rem;
}

.overview-stat .rate.up {
    color: var(--clr-lime-green);
}

.overview-stat .rate.down {
    color: var(--clr-bright-red);
}

@media not all and (hover: none) {
    .overview-item:hover {
        background-color: var(--bg-card-hover);
    }

    .highlight-item:hover {
        background-color: var(--bg-card-hover);
    }

    .site-theme:hover p {
        color: var(--text-heading);
    }
}

@media screen and (min-width: 40em) {
    .highlight-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .overview-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 1.875rem;
    }
}

@media screen and (min-width: 58em) {
    .site-theme {
        margin-bottom: 0.25rem;
    }

    .highlight-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 2.9375rem;
    }

    .overview-wrapper {
        margin: 1.6875rem 0 4.6875rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .intro {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .intro__divider {
        display: none;
    }

    .intro__title {
        margin: 0.0625rem 0 0 -0.1875rem;
        font-size: 1.75rem;
    }

    .intro__description {
        margin: 0.5rem 0 0 -0.125rem;
    }
}
